# Build output
build/
dist/
*.egg-info/
*.whl
*.pex

# Environments
.venv/
venv/
.env

# Tooling caches
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Editors
.idea/
.vscode/
*.swp
