[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
invoke = "*"
py-project-template = {editable = true,path = "."}
tox = "*"
pep8 = "*"
mypy = "*"
pytest = "*"

[packages]
click = "==7.0"

[requires]
python_version = "3.6"
